/* -----------------------
Base styles
------------------------*/

body
{
	margin: 0;
	padding: 0;
	color: #333;
	background-image: url("bg.jpg");
    background-repeat: repeat;
	background-attachment: fixed;
	/*background-color: #eee;*/
	font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

h1,h2,h3,h4,h5,h6
{
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}

h1 { font-size: 2.25em; } /* 36px */
h2 { font-size: 1.75em; } /* 28px */
h3 { font-size: 1.375em; } /* 22px */
h4 { font-size: 1.125em; } /* 18px */
h5 { font-size: 1em; } /* 16px */
h6 { font-size: .875em; } /* 14px */

p
{
	margin: 0 0 1.5em;
	line-height: 1.5;
}

blockquote
{
	padding: 1em 2em;
	margin: 0 0 2em;
	border-left: 5px solid #eee;
}

hr
{
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #ddd;
}

table
{
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid #ddd;
}

th, td
{
	padding: .5em 1em;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

a:link { color: #2d8cff; transition: all 0.2s linear; }
a:visited { color: #2d8cff; transition: all 0.2s linear; }
a:focus { color: #d77eb5; transition: all 0.2s linear; }
a:hover { color: #8fc605; transition: all 0.2s linear; }
a:active { color: #d77eb5; transition: all 0.2s linear; }

/* -----------------------
Layout styles
------------------------*/

.container
{
	max-width: 50em;
	margin: 0 auto;
	background-color: #fff;
}

.header
{
	color: #FFF;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d8cff+0,8fc605+100 */
background: #2d8cff; /* Old browsers */
background: -moz-linear-gradient(45deg, #2d8cff 0%, #8fc605 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #2d8cff 0%,#8fc605 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #2d8cff 0%,#8fc605 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d8cff', endColorstr='#8fc605',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 1em 1.25em;
	text-align: center;
}

.header-heading { 
	margin: 0; 
	font-family: 'Rammetto One', cursive;
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #000;
}

.nav-bar
{
	background: #000;
	padding: 0;
}

.content { 
	padding: 1em 1.25em;
	border-right: 1px dotted #000;
	border-left: 1px dotted #000;
 }

.footer
{
	color: #fff;
	background: #000;
	padding: 1em 1.25em;
	text-align: right;
}

/* -----------------------
Nav
------------------------*/

.nav
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav li
{
	display: inline;
	margin: 0;
}

.nav a
{
	display: block;
	padding: .7em 1.25em;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid gray;
}

.nav a:link { color: white; }
.nav a:visited { color: white; }
.nav a:hover { color: #8fc605; }

/* -----------------------
Single styles
------------------------*/

.img-responsive { max-width: 100%; }

.btn
{
	color: #fff !important;
	background-color: #2d8cff;
	border-color: #222;
	display: inline-block;
	padding: .5em 1em;
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: .2em;
	text-decoration: none;
}

.btn:hover
{
	color: #FFF !important;
	background-color: #8fc605;
	transition: all 0.2s linear;
}

.btn:focus
{
	color: #fff !important;
	background-color: black;
	transition: all 0.2s linear;
}

.btn:active
{
	color: #000 !important;
	background-color: #FFF;
	transition: all 0.2s linear;
}

.table
{
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

.list-unstyled
{
	padding-left: 0;
	list-style: none;
}

.list-inline
{
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list-inline > li
{
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

/* -----------------------
Wide styles
------------------------*/

@media (min-width: 42em)
{
	.header { padding: 1.5em 3em; }
	.nav-bar { padding: 1em 3em; }
	.content { padding: 2em 3em; }
	.footer { padding: 2em 3em; }
	
	.nav li
	{
		display: inline;
		margin: 0 1em 0 0;
	}
	
	.nav a
	{
		display: inline;
		padding: 0;
		border-bottom: 0;
	}
}


svg {
  max-width: 100%;
  max-height: 100%;
/*  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;*/
  margin: auto;
}
svg path, svg polygon {
  fill-opacity: 0.5;
  fill: #000 !important;
  stroke: #000;
  stroke-width: 0.5;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation-name: draw;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
svg #Shadows__x28_positive_x29_ path, svg #Shadows__x28_positive_x29_ polygon {
  animation-delay: 3s;
}
@keyframes draw {
  90% {
    stroke-dashoffset: 5;
    stroke-width: 1;
    fill-opacity: 0;
  }
  100% {
    stroke-width: 1;
    fill-opacity: 1;
  }
}

@import url('https://fonts.googleapis.com/css?family=Rammetto+One');